{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container border py-5" style="width: 400px">
  <h2 class="my-3 text-center">Sign Up</h2>
  <form method="post" class="mt-5">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-secondary my-3">Sign Up</button>
  </form>
  <p>
    Already have an account ? Use your Charta username and password.
    <a href="{% url 'login' %}"
       class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fw-bold">
      Log In
    </a>
  </p>
</div>
{% endblock %}