{% load crispy_forms_tags %}

<div class="container justify-content-center">
    <nav class="navbar sticky-top">
        <form class="form-inline d-flex col-6" method="GET" action="{% url 'search' %}">
            <input class="form-control form-control-sm mr-3 w-75 rounded-start-pill" type="text" placeholder="Search"
                   aria-label="Search" name="q">
            <span class="input-group-text red lighten-3 rounded-end-pill">
            <button type="submit" class="border-0 bg-light">
                <i class="ps-2 bi bi-search" aria-hidden="true"></i>
            </button>
        </span>
        </form>
    </nav>
</div>