{% load crispy_forms_tags %}

<div class="container justify-content-center">
    <nav class="navbar sticky-top">
        <form class="d-flex justify-content-center bg-white" method="POST" action="#">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col">
                    {{ search_form.city|as_crispy_field }}
                </div>
                {#                        <div class="col">#}
                {#                            {{ search_form.check_in|as_crispy_field }}#}
                {#                        </div>#}
                {#                        <div class="col">#}
                {#                            {{ search_form.check_out|as_crispy_field }}#}
                {#                        </div>#}
                <div class="col">
                    {{ search_form.guests|as_crispy_field }}
                </div>
            </div>
            <button class="btn ms-5" type="submit">
                <i class="bi bi-search" style="font-size: 1.5rem; color: #000000;"></i>
            </button>
        </form>
    </nav>
</div>