{% extends 'hosting-base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Create Destination
{% endblock %}

{% block content %}
    <div class="container text-center my-2">
        <h3>Create a Destination</h3>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ destination_form|crispy }}
            {{ photo_formset.management_form }}
            {% for form in photo_formset %}
                {{ form|crispy }}
            {% endfor %}
            <div class="text-end pt-2 pb-5">
                <button type="submit" class="btn btn-success" name="save-and-add-another">Save and Add Another</button>
                <button type="submit" class="btn btn-success" name="save">Save</button>
            </div>
        </form>
    </div>

{% endblock %}