{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    {% include 'partials/search-bar.html' %}

    <div class="container-fluid mt-3">
        <div class="row align-items-center g-2">
            {% for destination in destinations %}
                <div class="col-md-3 my-3">
                    <a href="{% url 'details' destination.id destination.name|slugify %}" class="card-link"
                       style="text-decoration: none; color: black;">
                        {% include 'partials/destination-card.html' %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}