#mainu-collapse {
    position: fixed;
    top: 65px;
    right: 15px;
    z-index: 1000;
}

.destination-card {
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destination-card .card-body {
    padding: 20px;
    height: 40%;
}
