{% extends 'base.html' %}

{% block title %}Listings | Cozy{% endblock %}

{% block content %}
    <div class="container row">
        <div class="col">
            <h2>Your Listings</h2>
        </div>
        <div class="col text-end">
            <a
                name=""
                id="create-listing"
                class="btn btn-primary"
                href="#"
                role="button"
            ><i class="bi bi-plus-circle"></i></a
            >

        </div>

    </div>
    <div class="container row">
        {% for destination in listing_destinations %}
            <div class="col my-3">
                <a href="{#{% url 'details' destination.id destination.title|slugify %}#}" class="card-link"
                   style="text-decoration: none; color: black;">
                    <div class="card">
                        <img
                            src="{{ destination.photos.first_photo.url }}"
                            class="img-fluid card-img-top"
                            alt=""
                        />
                        <div class="card-body">
                            <h5 class="card-title">{{ destination.name }}</h5>
                            <div class="card-text">
                                <p>{{ destination.city }}, {{ destination.state }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock %}