{% extends 'hosting-base.html' %}

{% block title %}Listings{% endblock %}

{% block content %}
    <div class="container-fluid row my-2">
        <div class="col">
            <h2>Your Listings</h2>
        </div>
        <div class="col text-end">
            <a
                id="create-listing"
                class="btn"
                href="{% url 'create_destination' %}"
                role="button"
            ><i class="bi bi-plus-circle text-primary"></i></a
            >

        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            {% for destination in listing_destinations %}
                <div class="col-md-4 my-3">
                    <a href="{% url 'details' destination.id destination.name|slugify %}" class="card-link"
                       style="text-decoration: none; color: black;">
                        {% include 'partials/destination-card-minimal.html' %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}