{% extends 'base.html' %}

{% block title %}
    Saved
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h3 class="py-2">Your Saved Destinations</h3>
        <div class="row align-items-center g-2">
            {% if destinations %}
                {% for destination in destinations %}
                    <div class="col-md-4 my-3">
                        <a href="{% url 'details' destination.id destination.name|slugify %}" class="card-link"
                           style="text-decoration: none; color: black;">
                            {% include 'partials/destination-card.html' %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                No saved destinations, explore and save destinations to see them here.
            {% endif %}
        </div>
    </div>

{% endblock %}